.container {
    width: 1280px;
    margin: 0 auto;
    background-color: #000000;
}

.page-header-navigation {
    width: 1280px;
    height: 1626;
}

* {
    font-family: "Montserrat";
    font-style: normal;
    text-align: center;
}

.page-header-menu {
    text-align: center;
}

.page-header-menu-item-link {
    color: #0000ff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.change-button {
    background-color: #0000ff;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    width: 200px;
    height: 51px;
}

.page-header-menu-item {
    margin-top: 10px;
    list-style: none;
    display: inline-block;
    margin-right: 72px;
}

.page-main {
    width: 1280px;
}

.page-main-image {
    width: 1280px;
}

.page-main-headline {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
}

.page-main-cection1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding: 10px 70px
}

.page-main-cection2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding: 5px 50px
}

.page-main-button {
    background-color: #0000ff;
    border: none;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    margin: 66px 587px;
}

.page-footer {
    width: 1070px;
    height: 39px;
    margin-left: 105px;
    margin-right: 105px;
}

.page-footer-item {
    color: #FFFFFF;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
}