html,
body {
    background-color: #171717;
}

.page-container {
    max-width: 1920px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    width: 1460px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 46px;
}

.page-image-logo {
    width: 216px;
    height: 33px;

}

.page-buttom-rectangle {
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;

}

.page-image-call {
    width: 12.96px;
    height: 12.96px;
    margin-top: 18.04px;
    margin-left: 26px;
}

.page-button-call {
    color: #E4B564;
    height: 30px;
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 10.04px;
}

.page-main-headline {
    display: flex;
    justify-content: flex-start;
    padding-left: 230px;
    color: #FFFFFF;
    font-family: "Gilam";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-top: 128px;
}

.page-main-introduction {
    display: flex;
    justify-content: flex-start;
    padding-left: 230px;
    color: #FFFFFF;
    font-family: "Gilam";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 41px;
}

.page-main-div-wrapper {
    display: grid;
    width: 1460px;
    padding-top: 41px;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    column-gap: 30px;
    row-gap: 27px;
    grid-template-areas:
        "a a b b c c"
        "d d d e e e";
}

.page-main-item1,
.page-main-item2,
.page-main-item3,
.page-main-item4,
.page-main-item5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-main-item-text1,
.page-main-item-text2,
.page-main-item-text3,
.page-main-item-text4,
.page-main-item-text5 {
    color: #FFFFFF;
    font-family: "Gilam";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.page-main-item1 {
    background-color: #634F2C;
    grid-area: a;
}

.page-main-item2 {
    background-color: #B4A385;
    grid-area: b;
    text-align: center;
}

.page-main-item-text2 {
    display: block;
    width: 380px;
    height: 56px;
}

.page-main-item3 {
    background-color: #E4B564;
    grid-area: c;
}

.page-main-item4 {
    background-color: #635A4A;
    grid-area: d;
}

.page-main-item5 {
    background-color: #B08C4D;
    grid-area: e;
}

.page-main-two-headline {
    display: flex;
    justify-content: flex-start;
    padding-left: 230px;
    color: #FFFFFF;
    font-family: "Gilam";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-top: 161px;
}

.page-main-two-div-wrapper {
    display: grid;
    width: 1460px;
    margin: 0 auto;
    margin-top: 94px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 70px);
    column-gap: 30px;
    row-gap: 25px;
}

.page-main-two-item1 {
    background-color: #0E0E0E;
    grid-row: 1 / 5;
}

.page-main-two-item2 {
    background-color: #242424;
    grid-row: 1 / 6;

}

.page-main-two-item3 {
    background-color: #1F1F1F;
    grid-row: 1 / 5;
}

.page-main-two-item4 {
    background-color: #1F1F1F;
    grid-row: 5 / 11;
}

.page-main-two-item5 {
    background-color: #E4B564;
    grid-row: 6 / 11;
    margin-bottom: 20px;
}

.page-main-two-item6 {
    background-color: #0E0E0E;
    grid-row: 5 / 8;
}

.page-main-two-item7 {
    background-color: #0A0909;
    grid-row: 8 / 11;
}

.page-main-two-item-text1,
.page-main-two-item-text2,
.page-main-two-item-text3,
.page-main-two-item-text4,
.page-main-two-item-text5,
.page-main-two-item-text6,
.page-main-two-item-text7 {
    color: #FFFFFF;
    font-family: "Gilam";
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
}

.page-main-two-item-text1 {
    font-weight: 400;
    display: block;
    width: 240px;
    height: 50px;
    margin-top: 44px;
    margin-left: 52px;
}

.page-main-two-item-text1-2 {
    font-weight: 700;
}

.page-main-two-item-text2 {
    font-weight: 400;
    display: block;
    width: 302px;
    height: 50px;
    margin-top: 44px;
    margin-left: 52px;
}

.page-main-two-item-text2-2 {
    font-weight: 700;
}

.page-main-two-item-text3 {
    font-weight: 500;
    display: block;
    width: 302px;
    height: 25px;
    margin-top: 44px;
    margin-left: 48px;
}

.page-main-two-item-text4 {
    font-weight: 500;
    display: block;
    width: 302px;
    height: 25px;
    margin-top: 56px;
    margin-left: 52px;
}

.page-main-two-item-text5 {
    color: #000000;
    font-weight: 500;
    display: block;
    width: 302px;
    height: 25px;
    margin-top: 47px;
    margin-left: 52px;
}

.page-main-two-item-text6 {
    font-weight: 500;
    display: block;
    width: 302px;
    height: 25px;
    margin-top: 44px;
    margin-left: 48px;
}

.page-main-two-item-text7 {
    font-weight: 700;
    display: block;
    width: 302px;
    height: 25px;
    margin-top: 44px;
    margin-left: 48px;
}

.page-main-projects {
    background-color: #0E0E0E;
    margin-top: 150px;
    margin-bottom: 238px;
}

.page-main-projects-clients {
    display: flex;
    width: 1460px;
    justify-content: space-between;
    margin: 0 auto;
}

.page-main-projects-clients-headline {
    color: #FFFFFF;
    font-family: "Gilam";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    padding-top: 130px;
}

.page-main-projects-clients-rectangle {
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    margin-top: 115px;
}

.page-main-projects-clients-button {
    color: #E4B564;
    height: 30px;
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 30px;
}

.page-main-projects-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 72px;
    margin: 0 auto;
}

.page-main-projects-names-item1 {
    background-color: #634F2C;
    width: 487px;
    height: 391px;
}

.page-main-projects-names-item1-image {
    margin-top: 171px;
    margin-left: 151px;
}

.page-main-projects-names-item2 {
    background-color: #E8D2ABC2;
    width: 486px;
    height: 391px;
}

.page-main-projects-names-item2-image1 {
    width: 62px;
    height: 55px;
    margin-top: 61px;
    margin-left: 217px;
}

.page-main-projects-names-item2-image2 {
    width: 139px;
    height: 55px;
    margin-top: 3px;
    margin-left: 173px;
}

.page-main-projects-names-item2-text {
    display: block;
    width: 326px;
    height: 140px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Gilam";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-top: 16px;
    margin-left: 80px;
}

.page-main-projects-names-item2-adress {
    font-weight: 400;
}

.page-main-projects-names-item3 {
    background-color: #E4B564;
    width: 487px;
    height: 391px;
}

.page-main-projects-names-item3-image {
    width: 190px;
    height: 42px;
    margin-top: 190px;
    margin-left: 149px;
}

.page-main-projects-names-item4 {
    background-color: #635A4A;
    width: 487px;
    height: 391px;
}

.page-main-projects-names-item4-image {
    width: 190px;
    height: 42px;
    margin-top: 174px;
    margin-left: 149px;
}

.page-main-projects-names-item5 {
    background-color: #B08C4D;
    width: 486px;
    height: 391px;
}

.page-main-projects-names-item5-image {
    width: 119px;
    height: 53px;
    margin-top: 169px;
    margin-left: 184px;

}

.page-main-projects-names-item6 {
    background-color: #634F2C;
    width: 487px;
    height: 391px;
}

.page-main-projects-names-item6-image {
    width: 185px;
    height: 49px;
    margin-top: 171px;
    margin-left: 151px;
}