html,
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.header-container {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
}

.header-wrapper {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-H {
  background-image: url("./images/icon.svg");
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #FFFFFF;
  padding: 18px 18px 18px 13px;
}

.brand-name {
  font-size: 32px;
  line-height: 48px;
}

.the {
  font-weight: 400;
  color: #FFFFFF;
}

.ham {
  font-weight: 700;
  color: #18CFAB;
}

.nav-list {
  width: 614.8px;
  height: 24px;
  margin-left: 305.02px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-href {
  text-decoration: none;
  position: relative;
}

.nav-href:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #18CFAB;
  top: 70px;
}

.nav-list-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF99;
}

.nav-list-item:hover {
  color: #18CFAB;
}

.main-headlines {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 264px;
}

.headline-theme {
  width: 637px;
  height: 35px;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.headline-theme-press {
  color: #18CFAB;
}

.headline-creative {
  width: 798px;
  height: 80px;
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.headline-features {
  width: 795px;
  height: 34px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  color: #D4D4D4;
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.buttons-now {
  display: flex;
  justify-content: center;
  margin-top: 134px;
  padding-bottom: 243px;
  gap: 26px;
}

.button-common {
  width: 168px;
  height: 63px;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  position: relative;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 -4px 0 0 #FFFFFF;
}

.button-explore {
  background-color: #18CFAB;
}

.button-purchase {
  background-color: #00CBF6;
}



.option-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.option-item {
  width: 25%;
  min-height: 377px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.item1 {
  background-color: #1C2A33;
}

.option-name1 {
  display: block;
  margin-top: 48px;
  color: #18CFAB;
}

.item2 {
  background-color: #18CFAB;
}

.option-name2 {
  display: block;
  margin-top: 58px;
  color: #FFFFFF;
}



.service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 85px;
}

.service-headline {
  position: relative;
  color: #4E4E4E;
}

.service-headline::after {
  content: "";
  width: 75.54px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
  top: 70px;
  left: 70px;
}

.service-headline::before {
  content: "";
  width: 78px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
  top: 75px;
  left: 80px;
}

.service-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 193px;
  height: 76px;
  background: #F8FCFE;
  border: 1px solid #EDEFEF;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  color: #717171;
}

.service-item:hover {
  border: 1.5px solid #18CFAB;
  cursor: url("./images/cursor.png"), auto;
  transition: .5s ease;
}

.service-item.active {
  background-color: #18CFAB;
  color: #FFFFFF;
  position: relative;
}

.service-item.active::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -29px;
  border: 0;
  border: 15px solid transparent;
  border-top: 15px solid #18cfab;
}

.service-block {
  display: flex;
}

.service-image {
  display: none;
}

.service-image.active {
  display: block;
  width: 192px;
  height: 139px;
  margin-top: 25px;
}

.service-content {
  display: none;
}

.service-content.active {
  display: block;
  margin-top: 22px;
  margin-left: 15px;
  width: 952px;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}



.purchase-container {
  background-image: url("./images/background-purchase.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 91px;
  height: 476px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.purchase-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #18CFAB;
  text-transform: uppercase;
}

.purchase-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #D8D8D8;
  margin-top: 13px;
}

.button-purchasenow {
  background-color: #18CFAB;
  margin-top: 67px;
}



.work-container {
  min-height: 100%;
  background-color: #E9EDEF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-wrapper {
  width: 1160px;
  padding-top: 95px;
}

.work-headline {
  position: relative;
  color: #4E4E4E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-headline::after {
  content: "";
  width: 75.54px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
  top: 70px;
}

.work-headline::before {
  content: "";
  width: 78px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
  top: 75px;
  margin-left: 20px;
}

.work-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: #E9EDEF;
  border: 1px solid #DADADA;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
}

.item1 {
  padding: 12px 28px 9px 27px;
}

.item2 {
  padding: 12px 15px 9px 16px;
}

.item3 {
  padding: 12px 15px 9px 15px;
}

.item4 {
  padding: 12px 15px 9px 15px;
}

.item5 {
  padding: 12px 12px 9px 17px;
}

.work-item:hover {
  border: 1.5px solid #18CFAB;
  color: #18CFAB;
  cursor: pointer;
  transition: .5s ease;
}

.graphic-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 71px;
}

.graphic-wrapper {
  position: relative;
}

.hidden {
  display: none;
}

.graphic-font.visible {
  display: block;
}

.graphic-back-image {
  border-top: 2px solid #18CFAB;
  background-color: #E9EDEF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
}

.graphic-wrapper:hover .graphic-back-image {
  opacity: 1;
  cursor: url("./images/cursor.png"), auto;
}

.creative-design {
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  color: #18CFAB;
  text-transform: uppercase;
  margin-top: 24px;
}

.web-design {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8A8A8A;
}

.load-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 100px;
}

.button-load {
  background-color: #18CFAB;
  width: 168px;
  height: 63px;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  padding-left: 56px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
}

.button-load::before {
  content: "+";
  position: absolute;
  top: 12px;
  left: 27px;
  font-size: 35px;
}



.breakingnews-container {
  width: 1160px;
  padding-top: 82px;
  margin: 0 auto;
}

.breakingnews-headline {
  margin-left: 450px;
  position: relative;
  color: #4E4E4E;
}

.breakingnews-headline::after {
  content: "";
  width: 75.54px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
  top: 70px;
  left: 90px;
}

.breakingnews-headline::before {
  content: "";
  width: 78px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
  top: 75px;
  left: 105px;
}

.breakingnews-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  column-gap: 35px;
  row-gap: 43px;
}

.image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-decoration: none;
}

.datasign {
  background-color: #203E38;
  width: 70px;
  height: 68px;
  position: absolute;
  top: 0;
  right: 0;
}

.image-block:hover .datasign {
  background-color: #18CFAB;
  cursor: pointer;
  transition: .5s ease;
}

.data {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-title {
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
}

.image-block:hover .image-title {
  color: #18CFAB;
  cursor: pointer;
  transition: .5s ease;
}

.image-comment {
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: #777777;
}



.feedback-container {
  background-image: url("./images/feedback\ container.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 128px;
}

.feedback-content {
  width: 1160px;
  margin: 0 auto;
}

.feedback-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding-top: 98px;
  position: relative;
}

.feedback-headline::after {
  content: "";
  width: 75.54px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
  top: 163px;
  left: 530px;
}

.feedback-headline::before {
  content: "";
  width: 78px;
  height: 1px;
  background: #18CFAB;
  position: absolute;
  top: 168px;
  left: 535px;
}

.feedback-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 550px;
}

.feedback-paragraph {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #BBBBBB;
  text-align: center;
  margin-top: 36px;
}

.employee-info {
  display: none;
}

.employee-info.active {
  display: block;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18CFAB;
  margin-top: 37px;
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #BBBBBB;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 142px;
  margin-top: 38px;
  margin-left: 500px;
  border-radius: 50%;
  border: 10px solid #18cfaa3b;
}

.photo {
  width: 143px;
  height: 142px;
}

.photo-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  gap: 30px;
}

.photo-icon-container {
  width: 60px;
  height: 59px;
  margin-top: 69px;
  border-radius: 50%;
  border: 5px solid #18cfaa3b;
}

.photo-icon-container.active {
  margin-bottom: 30px;
  transition: 0.5s all;
}

.photo-icon {
  width: 60px;
  height: 59px;
}

.slide-button {
  margin-top: 70px;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #BBBBBB;
  color: #BBBBBB;
  position: relative;
}

.arrow-left::before {
  content: url("./images/slider.svg");
  position: absolute;
  top: 8px;
  left: 10px;
}

.arrow-right::before {
  content: url("./images/slider.svg");
  position: absolute;
  top: 6px;
  left: 12px;
  transform: rotate(180deg);
}

.slide-button:hover {
  background-color: #18CFAB;
  border: none;
  transition: .5s ease;
}

.arrow-left:hover:before {
  filter: brightness(5);
}

.arrow-right:hover:before {
  filter: brightness(5);
}



.footer-container {
  height: 121px;
  background-color: #22353F;
  padding-top: 80px;
}

.copyright-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AEAEAE;
}

.text-theHam {
  color: #18CFAB;
}