html,
body {
  height: 100vh;
}

.page-container {
  background-image: url("./images/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
}

.page-section {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content-container {
  width: 1028px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.header-content-div:hover .header-content-logo-text {
  color: #F26522;
}

.header-content-div:hover .header-content-logo {
  background-image: url("./images/logo2.svg");
}

.header-content-logo {
  background-image: url("./images/logo1.svg");
  width: 53px;
  height: 47px;
}

.header-content-logo-text {
  font-family: "Roboto";
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  grid-column: 2;
}

.header-content-link {
  display: grid;
  width: 150px;
  grid-template-columns: 53px 1fr;
  column-gap: 8px;
  text-decoration: none;
  color: #FFFFFF;
}

.header-content-logo-text-one {
  display: block;
  font-size: 29px;
  line-height: 29px;
}

.header-content-logo-text-two {
  display: block;
  font-size: 18px;
  line-height: 22px;
}

.header-content-address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-content-email {
  text-decoration: none;
  font-family: "Roboto";
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.header-content-email:hover {
  color: #F26522;
}

.header-content-tel {
  text-decoration: none;
  font-family: "Roboto";
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-top: 19px;
}

.header-content-tel:hover {
  color: #F26522;
}

.main-content-container {
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 40px;
}

.main-content-div-one:hover .main-content-text-one {
  color: #F26522;
}

.main-content-div-two:hover .main-content-text-two {
  color: #F26522;
}

.main-content-div-three:hover .main-content-text-three {
  color: #F26522;
}

.main-content-div-four:hover .main-content-text-four {
  color: #F26522;
}

.main-content-div-five:hover .main-content-text-five {
  color: #F26522;
}

.main-content-div-six:hover .main-content-text-six {
  color: #F26522;
}

.main-content-div-one,
.main-content-div-two,
.main-content-div-three,
.main-content-div-four,
.main-content-div-five,
.main-content-div-six {
  width: 300px;
  height: 261px;
  position: relative;
}

.main-content-link {
  text-decoration: none;
}

.main-image-one,
.main-image-two,
.main-image-three,
.main-image-four,
.main-image-five,
.main-image-six {
  height: 220px;
  background-size: 300px;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
  border-image-slice: 1;
}

.main-image-one {
  background-image: url("./images/image1.png");

}

.main-image-two {
  background-image: url("./images/image2.png");
}

.main-image-three {
  background-image: url("./images/image3.png");
}

.main-image-four {
  background-image: url("./images/image4.png");
}

.main-image-five {
  background-image: url("./images/image5.png");
}

.main-image-six {
  background-image: url("./images/image6.png");
}


.main-content-hover-one,
.main-content-hover-two,
.main-content-hover-three,
.main-content-hover-four,
.main-content-hover-five,
.main-content-hover-six {
  width: 300px;
  height: 59px;
  background-color: #F26522;
  position: absolute;
  top: 210px;
  visibility: hidden;
  transition: all 0.5s ease;
}

a:hover .main-content-hover-one,
a:hover .main-content-hover-two,
a:hover .main-content-hover-three,
a:hover .main-content-hover-four,
a:hover .main-content-hover-five,
a:hover .main-content-hover-six {
  top: 170px;
  visibility: visible;
}

.main-content-from {
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  position: relative;
  left: 16px;
}

.main-content-price {
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  left: -10px;
  top: 27px;
}

.main-content-details {
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  left: 120px;
  top: 26px;
}

.main-content-details::after {
  content: url("./images/vector1.svg");
  position: relative;
  margin-left: 16px;
  position: absolute;
  top: 3px;
}

.main-content-text-one,
.main-content-text-two,
.main-content-text-three,
.main-content-text-four,
.main-content-text-five,
.main-content-text-six {
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-top: 20px;
}

.footer-content-container-text {
  padding-top: 50px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}