.footer {
  height: 19.6875rem;
  background-color: $background-black;
  @include flex-center;
  flex-direction: column;

  &__headline {
    @include headlines-small;
    color: $text-color;
    display: inline-block;
    margin-top: 1.5rem;
  }

  &__text {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #B9B9B9;
    margin-top: 0.5rem;
    display: inline-block;
    text-align: center;
    width: 18.9375rem;
  }

  .non-active {
    display: none;
  }

  &__address {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #B9B9B9;
    margin-top: 1.4rem;
    display: inline-block;
    text-align: center;
    width: 14.6875rem;
  }
}

.footer-icons {
  width: 12rem;
  margin-top: 1.625rem;
  @include flex-center;


  &__item1 {
    background-image: url("../img/Dribbble.svg");
    width: 2.125rem;
    height: 2.125rem;

  }

  &__item2 {
    background-image: url("../img/Facebook.svg");
    width: 2.125rem;
    height: 2.125rem;
    margin-left: 0.375rem;
  }

  &__item3 {
    background-image: url("../img/Twitter.svg");
    width: 2.125rem;
    height: 2.125rem;
    margin-left: 0.375rem;
  }

  &__item4 {
    background-image: url("../img/RSS.svg");
    width: 2.125rem;
    height: 2.125rem;
    margin-left: 0.375rem;
  }

  &__item5 {
    background-image: url("../img/Pinterest.svg");
    width: 2.125rem;
    height: 2.125rem;
    margin-left: 0.375rem;
  }
}

@media screen and (min-width: 481px) {
  .footer {
    height: 19.6875rem;
    background-color: $background-black;
    @include flex-center;
    flex-direction: column;

    &__headline {
      @include headlines-small;
      color: $text-color;
      font-size: 1rem;
      display: inline-block;
      margin-top: 3.5625rem;
    }

    &__text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.75rem;
      color: #B9B9B9;
      margin-top: 1.375rem;
      display: inline-block;
      text-align: center;
      width: 42.75rem;
    }

    .non-active {
      display: inline-block;
    }

    &__address {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.625rem;
      color: #B9B9B9;
      margin-top: 2.125rem;
      display: inline-block;
      text-align: center;
      width: 38.3125rem;
    }
  }

  .footer-icons {
    width: 12rem;
    margin-top: 1.625rem;
    @include flex-center;


    &__item1 {
      background-image: url("../img/Dribbble.svg");
      width: 2.125rem;
      height: 2.125rem;

    }

    &__item2 {
      background-image: url("../img/Facebook.svg");
      width: 2.125rem;
      height: 2.125rem;
      margin-left: 0.375rem;
    }

    &__item3 {
      background-image: url("../img/Twitter.svg");
      width: 2.125rem;
      height: 2.125rem;
      margin-left: 0.375rem;
    }

    &__item4 {
      background-image: url("../img/RSS.svg");
      width: 2.125rem;
      height: 2.125rem;
      margin-left: 0.375rem;
    }

    &__item5 {
      background-image: url("../img/Pinterest.svg");
      width: 2.125rem;
      height: 2.125rem;
      margin-left: 0.375rem;
    }
  }
}


@media screen and (min-width: 993px) {
  .footer {
    height: 19.6875rem;
    background-color: $background-black;
    @include flex-center;
    flex-direction: column;

    &__headline {
      @include headlines-small;
      color: $text-color;
      font-size: 1rem;
      display: inline-block;
      margin-top: 3.5625rem;
    }

    &__text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.75rem;
      color: #B9B9B9;
      margin-top: 1.375rem;
      display: inline-block;
      text-align: center;
      width: 42.75rem;
    }

    .non-active {
      display: inline-block;
    }

    &__address {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.625rem;
      color: #B9B9B9;
      margin-top: 2.125rem;
      display: inline-block;
      text-align: center;
      width: 38.3125rem;
    }
  }

  .footer-icons {
    width: 12rem;
    margin-top: 1.625rem;
    @include flex-center;


    &__item1 {
      background-image: url("../img/Dribbble.svg");
      width: 2.125rem;
      height: 2.125rem;

    }

    &__item2 {
      background-image: url("../img/Facebook.svg");
      width: 2.125rem;
      height: 2.125rem;
      margin-left: 0.375rem;
    }

    &__item3 {
      background-image: url("../img/Twitter.svg");
      width: 2.125rem;
      height: 2.125rem;
      margin-left: 0.375rem;
    }

    &__item4 {
      background-image: url("../img/RSS.svg");
      width: 2.125rem;
      height: 2.125rem;
      margin-left: 0.375rem;
    }

    &__item5 {
      background-image: url("../img/Pinterest.svg");
      width: 2.125rem;
      height: 2.125rem;
      margin-left: 0.375rem;
    }
  }
}