  .material-symbols-outlined {
    display: inline-block;
    background-color: $background-black;
    color: $text-color;
    width: 2.2rem;
    height: 1.95rem;
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    cursor: pointer;
  }

  .navigation {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 2.5rem;

    &__list {
      background-color: #F5F5F5;
      position: absolute;
      top: 5rem;
    }

    &__list.non-active {
      display: none;
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #4E4E4E;
      font-weight: 400;
      font-size: 0.6875rem;
      line-height: 1.85rem;
      letter-spacing: 0.06rem;
      padding-left: 0.8125rem;
      padding-right: 3.5rem;
      display: block;
    }

    &__link:hover {
      color: #57A4A4;
      background-color: #E5E5E5;
    }
  }

  .header-image {
    @include flex-center;
    max-width: 100%;
    margin-top: 1.4375rem;
  }


  @media screen and (min-width: 481px) {

    .dropmenu {
      display: none;
    }

    .navigation {
      margin-top: 1.4375rem;
      display: flex;
      align-items: center;
      margin-right: 2rem;

      &__item {
        margin-left: 2.125rem;
      }

      &__list {
        background-color: transparent;
        position: relative;
        height: auto;
        top: 0;
        @include flex-center;
        flex-wrap: wrap;
      }

      &__list.non-active {
        display: flex;

      }

      &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #4E4E4E;
        font-weight: 400;
        font-size: 0.6875rem;
        line-height: 1.85rem;
        letter-spacing: 0.06rem;
        padding-right: 0;
      }

      &__link:hover {
        color: #57A4A4;
        background-color: transparent;
      }
    }

    .header-image {
      margin: 0 auto;
      max-width: 100%;
      margin-top: 2.6875rem;
    }
  }


  @media screen and (min-width: 993px) {
    .dropmenu {
      display: none;
    }

    .navigation {
      margin-top: 1.4375rem;
      display: flex;
      align-items: center;
      margin-right: 2rem;

      &__item {
        margin-left: 4.25rem;
      }

      &__list {
        background-color: transparent;
        position: relative;
        height: auto;
        top: 0;
        @include flex-center;
        flex-wrap: wrap;
      }

      &__list.non-active {
        display: flex;
      }

      &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #4E4E4E;
        font-weight: 400;
        font-size: 0.6875rem;
        line-height: 1.85rem;
        letter-spacing: 0.06rem;
        padding-right: 0;
      }

      &__link:hover {
        color: #57A4A4;
        background-color: transparent;
      }
    }

    .header-image {
      @include flex-center;
      max-width: 100%;
      margin-top: 2.6875rem;
    }
  }