@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-left {
  display: flex;
  flex-direction: column;
}

@mixin headlines-small {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #4E4E4E;
}

@mixin images-small {
  width: 10rem;
  height: 8.75rem;
}

@mixin post-name-small {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

@mixin comments-small {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #7C7C7C;
}