.articles {
  @include flex-left;
  margin-top: 2.375rem;


  &__headline {
    @include headlines-small;
  }
}

.post {
  &__image {
    @include images-small;

  }

  &__name {
    @include post-name-small;
    display: inline-block;
    margin-top: 0.6875rem;
  }

  &__link {
    text-decoration: none;
    color: #4E4E4E;
  }

  &__comment {
    @include comments-small;
  }

  &__text.non-active {
    display: none;
  }
}

.post.non-active {
  display: none
}

.image1 {
  margin-top: 1.4375rem;
}

.image2 {
  margin-top: 1.625rem;
}

.image3 {
  margin-top: 1.625rem;
}

.insta {
  background-color: #F5F5F5;
  margin-top: 2.4688rem;

  &__container {
    padding-bottom: 2.625rem;
  }

  &__headline {
    @include headlines-small;
    padding-top: 2.375rem;
    text-decoration: none;
  }

  &__headline.non-active {
    display: none;
  }

  &__image1 {
    margin-top: 0.8125rem;
  }

  &__image2 {
    display: none;
  }

  &__image3 {
    display: none;
  }

  &__image4 {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .articles {
    @include flex-left;
    margin-top: 3.5rem;

    &__headline {
      @include headlines-small;
      font-size: 1rem;
    }
  }

  .post {
    display: flex;

    &__image {
      @include images-small;
    }

    &__info {
      margin-top: 0.8rem;
      margin-left: 1.3125rem;
    }

    &__name {
      @include post-name-small;
      display: inline-block;
      margin-top: 0.6875rem;
      font-size: 1rem;
    }

    &__link {
      text-decoration: none;
      color: #4E4E4E;
    }

    &__comment {
      @include comments-small;
      font-size: 0.75rem;
    }

    &__text.non-active {
      display: inline-block;
      margin-top: 0.7rem;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.625rem;
      color: #5C5C5C;

    }
  }

  .post.non-active {
    display: flex;
  }

  .image1 {
    margin-top: 1.4375rem;
  }

  .image2 {
    margin-top: 1.625rem;
  }

  .image3 {
    margin-top: 1.625rem;
  }

  .image4 {
    margin-top: 1.625rem;
  }

  .insta {
    margin-top: 3.75rem;
    background-color: #F5F5F5;

    &__container {
      display: flex;
      gap: 0.5625rem;
      padding-bottom: 3.125rem;

      &>div {
        flex: 1;
      }

      & img {
        max-width: 100%;
      }
    }

    &__headlines {
      display: flex;
      justify-content: space-between;
    }

    &__headline {
      @include headlines-small;
      padding-top: 2.9375rem;
      font-size: 1rem;
      text-decoration: none;
    }

    &__headline.non-active {
      display: inline-block;
    }

    &__image1 {

      margin-top: 2.1875rem;
    }

    &__image2 {
      display: block;
      margin-top: 2.1875rem;
    }

    &__image3 {
      display: block;
      margin-top: 2.1875rem;
    }

    .last-child {
      display: none;
    }
  }
}

@media screen and (min-width: 993px) {
  .articles {
    @include flex-left;
    margin-top: 4.125rem;

    &__headline {
      @include headlines-small;
      font-size: 1rem;
    }
  }

  .articles__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5625rem;
  }

  .post {
    display: flex;

    &__image {
      @include images-small;
    }

    &__info {
      margin-top: 0.8rem;
      margin-left: 1.3125rem;
    }

    &__name {
      @include post-name-small;
      display: inline-block;
      margin-top: 0.6875rem;
      font-size: 1rem;
    }

    &__link {
      text-decoration: none;
      color: #4E4E4E;
    }

    &__comment {
      @include comments-small;
      font-size: 0.75rem;
    }

    &__text.non-active {
      display: inline-block;
      margin-top: 0.7rem;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.625rem;
      color: #5C5C5C;
    }
  }

  .post.non-active {
    display: flex;
  }

  .image1 {
    margin-top: 1.4375rem;
  }

  .image2 {
    margin-top: 1.625rem;
  }

  .image3 {
    margin-top: 1.625rem;
  }

  .image4 {
    margin-top: 1.625rem;
  }

  .insta {
    margin-top: 3.75rem;
    background-color: #F5F5F5;

    &__container {
      display: flex;
      gap: 0.5625rem;
      padding-bottom: 3.125rem;
    }

    &__headlines {
      display: flex;
      justify-content: space-between;
    }

    &__headline {
      @include headlines-small;
      padding-top: 2.9375rem;
      font-size: 1rem;
      text-decoration: none;
    }

    &__headline.non-active {
      display: inline-block;
    }

    &__image1 {

      margin-top: 2.1875rem;
    }

    &__image2 {
      display: block;

      margin-top: 2.1875rem;
    }

    &__image3 {
      display: block;

      margin-top: 2.1875rem;
    }

    &__image4 {
      display: block;
    }

    .last-child {
      display: block;
      margin-top: 2.1875rem;
    }
  }
}