@import "reset";
@import "variables";
@import "mixins";



body {
  font-family: "Roboto";
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 73.125rem;
}

@import "header";
@import "posts";
@import "footer";