html,
body {
  height: 100%;
}

.page-background {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.page-header-container {
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header-name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  padding-left: 79px;
}

.page-header-name:hover {
  color: #3CB878;
  transition: 0.5s;
}

.page-header-nav {
  display: flex;
  align-items: center;
  margin-right: 79px;
}

.page-header-list {
  display: flex;
  margin-right: 25px;
}

.page-header-item1 {
  background-image: url("./images/icon1.svg");
  width: 23px;
  height: 23px;
  margin-right: 25px;
}

.page-header-item2 {
  background-image: url("./images/icon2.svg");
  width: 23px;
  height: 23px;
  margin-right: 25px;
}

.page-header-item3 {
  background-image: url("./images/icon3.svg");
  width: 23px;
  height: 23px;
}

.page-header-item1:hover {
  background-image: url("./images/icon1h.svg");
  transition: 0.5s;
}

.page-header-item2:hover {
  background-image: url("./images/icon2h.svg");
  transition: 0.5s;
}

.page-header-item3:hover {
  background-image: url("./images/icon3h.svg");
  transition: 0.5s;
}

.page-header-list::after {
  content: url("./images/line.png");
  margin-left: 25px;
  margin-top: 3px;
}

.page-header-text1,
.page-header-text2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.page-header-text2:hover {
  color: #3CB878;
  transition: 0.5s;
}

.page-header-link {
  text-decoration: none;
}

.main {
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-form {
  width: 444px;
  height: 584px;
  background: #FFFFFF;
  margin-bottom: 54px;
}

.page-form-header {
  position: relative;
}

.page-form-name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  position: absolute;
  left: 61px;
  top: 31px;
}

.page-form-name::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #3CB878;
  position: absolute;
  right: 112px;
}

.page-form-log {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
  position: absolute;
  right: 62px;
  top: 31px;
  cursor: pointer;
}

.page-form-log:hover {
  color: #01813F;
  text-decoration: underline;
  transition: 0.5s;
}

.page-form-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 60px;
}

.button-common {
  padding: 0 22px 0 17px;
  width: 157px;
  height: 46px;
  margin-top: 16px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.page-form-button-fb {
  background-color: #305DB8;
}

.page-form-button-fb:hover {
  background-color: #022263;
  cursor: pointer;
  transition: 0.5s;
}

.button-common::after {
  content: "";
  width: 1px;
  height: 28px;
  background: #0A162F;
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 50px;
}

.page-form-button-go {
  background-color: #DF4A32;
}

.page-form-button-go:hover {
  background-color: #AB1F09;
  cursor: pointer;
  transition: 0.5s;
}

.page-form-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
  position: relative;
}

.page-form-linetext {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}

.page-form-linetext::after {
  content: "";
  width: 152px;
  height: 1px;
  background: #F2F2F2;
  position: absolute;
  top: 8px;
  left: 232px;
}

.page-form-linetext::before {
  content: "";
  width: 152px;
  height: 1px;
  background: #F2F2F2;
  position: absolute;
  top: 8px;
  left: 58px;
}

.page-form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  gap: 10px;
}

.page-form-fn,
.page-form-ln,
.page-form-em,
.page-form-ps,
.page-form-ps2 {
  box-sizing: border-box;
  width: 322px;
  height: 44px;
  padding-left: 19px;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #BEBEBE;
}

.page-form-fn:focus,
.page-form-ln:focus,
.page-form-em:focus,
.page-form-ps:focus,
.page-form-ps2:focus {
  outline: none;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
}

.page-form-checkbox {
  position: relative;
  margin-top: 12px;
  margin-left: 65px;
}

.page-form-input {
  appearance: none;
  position: absolute;
}

.page-form-label {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 25px;
  cursor: pointer;
}

.page-form-label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  background-color: rgba("0, 0, 0, 0");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.page-form-label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("./images/checkbox.svg") no-repeat;
  background-size: 16px 16px;
  opacity: 0;
  position: absolute;
  top: 4px;
  left: 3px;
  z-index: 2;
}

.page-form-input:checked+.page-form-label::before {
  background-color: rgba(0, 0, 0, 0);
}

.page-form-input:checked+.page-form-label::after {
  opacity: 1;
}

.page-form-text {
  color: #3CB878;
}

.page-form-text:hover {
  text-decoration: underline;
  color: #01813F;
  cursor: pointer;
  transition: 0.5s;
}

.page-form-subbottom {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.page-form-submit {
  border: none;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.page-form-submit:hover {
  background-color: #01813F;
  cursor: pointer;
  transition: 0.5s;
}