* {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.page-header {
    width: 1283px;
    height: 189px;
    margin-top: 63px;
}

.page-header-title {
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
}

.logo-color-ra {
    color: #000000;
}

.logo-color {
    color: #4BCAFF;
}

.page-header-navigation {
    width: 1280px;
    height: 69px;
    background-color: #35444F;
    margin-top: 40px;
}

.page-header-menu {
    display: flex;
    justify-content: center;
}

.page-header-menu-item {
    display: block;
}

.page-header-menu-item-link-fp {
    display: block;
    width: 266px;
    height: 27px;
    text-decoration: none;
    color: #4BCAFF;
    font-size: 24px;
    line-height: 28px;
    margin-left: 50px;
    padding: 24px 33px 18px 32px;
    border-left: 1px solid #FFFFFF;
}

.page-header-menu-item-link-fp:hover {
    background-color: #222F3A;
    border: 1px solid #FFFFFF;
}

.page-header-menu-item-link-rd {
    display: block;
    width: 77px;
    height: 27px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    padding: 24px 38px 18px;
    border-left: 1px solid #FFFFFF;
}

.page-header-menu-item-link-rd:hover {
    background-color: #222F3A;
    border: 1px solid #FFFFFF;
}

.page-header-menu-item-link-fls {
    display: block;
    width: 204px;
    height: 27px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    padding: 24px 40px 18px;
    border-left: 1px solid #FFFFFF;
}

.page-header-menu-item-link-fls:hover {
    background-color: #222F3A;
    border: 1px solid #FFFFFF;
}

.page-header-menu-item-link-nfa {
    display: block;
    width: 163px;
    height: 27px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    padding: 24px 18px 18px 40px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.page-header-menu-item-link-nfa:hover {
    background-color: #222F3A;
    border: 1px solid #FFFFFF;
}

.page-main {
    display: flex;
    justify-content: space-between;
}

.page-main-left {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    margin-top: 49px;
}

.page-main-menu-left {
    display: flex;
    flex-direction: column;
}

.page-main-menu-item-left {
    display: block;
}

.page-main-menu-item-link-left-rd {
    display: block;
    width: 106px;
    height: 27px;
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    padding: 26px 194px 25px 44px;
}

.page-main-menu-item-link-left-rd:hover {
    background-color: #DBDBDB;
    text-align: center;
}

.page-main-menu-item-link-left-wrd {
    display: block;
    width: 226px;
    height: 27px;
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    padding: 27px 74px 27px 44px;
}

.page-main-menu-item-link-left-wrd:hover {
    background-color: #DBDBDB;
    text-align: center;
}

.page-main-menu-item-link-left-wd {
    display: block;
    width: 220px;
    height: 27px;
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    padding: 25px 80px 25px 44px;
}

.page-main-menu-item-link-left-wd:hover {
    background-color: #DBDBDB;
    text-align: center;
}

.page-main-menu-item-link-left-intro {
    display: block;
    width: 179px;
    height: 27px;
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    padding: 25px 121px 25px 44px;
}

.page-main-menu-item-link-left-intro:hover {
    background-color: #DBDBDB;
    text-align: center;
}

.page-main-menu-item-link-left-phil {
    display: block;
    width: 153px;
    height: 27px;
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    padding: 25px 147px 34px 44px;
}

.page-main-menu-item-link-left-phil:hover {
    background-color: #DBDBDB;
    text-align: center;
}

.page-main-right {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    margin-top: 49px;
}

.page-main-right-image {
    display: block;
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
    transition: 1s;
}

.page-main-right-image:hover {
    transform: scale(1.2);
}

.page-article {
    width: 885px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
    margin-left: 393px;
}

.page-main-paragraph-top {
    height: 120px;
}

.page-main-paragraph-bottom {
    height: 109px;
    margin-top: 34px;
}

.page-footer-navigation {
    height: 69px;
    background-color: #63696E7A;
    margin-top: 54px;
}

.page-footer-menu {
    display: flex;
    height: 28px;
}

.page-footer-menu-item-link-rd {
    display: block;
    width: 90px;
    height: 27px;
    text-decoration: none;
    color: #0C1927;
    font-size: 27px;
    line-height: 27px;
    margin-left: 40px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.page-footer-menu-item-link-rd:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.page-footer-menu-item-link-wrd {
    display: block;
    width: 160px;
    height: 27px;
    text-decoration: none;
    color: #0C1927;
    font-size: 27px;
    line-height: 27px;
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.page-footer-menu-item-link-wrd:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.page-footer-menu-item-link-wd {
    display: block;
    width: 205px;
    height: 27px;
    text-decoration: none;
    color: #0C1927;
    font-size: 27px;
    line-height: 27px;
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.page-footer-menu-item-link-wd:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.page-footer-menu-item-link-intro {
    display: block;
    width: 160px;
    height: 27px;
    text-decoration: none;
    color: #0C1927;
    font-size: 27px;
    line-height: 27px;
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.page-footer-menu-item-link-intro:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.page-footer-menu-item-link-phil {
    display: block;
    width: 140px;
    height: 27px;
    text-decoration: none;
    color: #0C1927;
    font-size: 27px;
    line-height: 27px;
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.page-footer-menu-item-link-phil:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.page-footer-menu-item-text {
    width: 190px;
    height: 47px;
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    padding-top: 20px;
    margin-left: 135px;
}